.rightSidebar{
    width: 180px;
    padding: 20px 10px;
    background-color: white;
    // border-left: 1px solid #e8e8e8;
}
.custom-list {
    list-style: none; 
    padding: 0;
    margin: 0;
    h6{
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      width: 100%;
    }
  }
  
  .custom-list .playlistItem {
    margin-bottom: 3px;
  }

  .custom-list .song-item{
    justify-content: center;
    color: black; 
    border-radius: 15px; 
    margin-bottom: 3px;
    font-size: 9px; 
    padding: 7px 3px;
    text-align: center;
    font-family: Arial, sans-serif; 
    background-color: white;
    font-weight: bold;
    &:hover{
      cursor: pointer;
    }
  }
  .custom-list [id^="a"]:nth-child(odd) .song-item{
    background-color: #5b8ea8cf;
    color: white;
  }

@media (max-width: 1000px) {
    .rightSidebar{
        display: none;
    }
}